*

!.gitignore
!user-dirs.locale

!Code/
!Code/**
!SpeedCrunch/
!SpeedCrunch/**
!alacritty/
!alacritty/**
!bat/
!bat/**
!code-flags.conf/
!code-flags.conf/**
!delta/
!delta/**
!devcontainers/
!devcontainers/**
!environment.d/
!environment.d/**
!eza/
!eza/**
!fzf/
!fzf/**
!git/
!git/**
!gnupg/
!gnupg/**
!hypr/
!hypr/**
!lazygit/
!lazygit/**
!mako/
!mako/**
!mimeapps.list/
!mimeapps.list/**
!nvchecker/
!nvchecker/**
!nvim/
!nvim/**
!rustfmt/
!rustfmt/**
!swaylock/
!swaylock/**
!systemd/
!systemd/**
!tmux/
!tmux/**
!uwsm/
!uwsm/**
!waybar/
!waybar/**
!wofi/
!wofi/**

Session.vim
tmp.*
