{
	"additional-repositories": [],
	"archinstall-language": "English",
	"audio_config": {
		"audio": "pipewire"
	},
	"bootloader": "Systemd-boot",
	"config_version": "3.0.1",
	"kernels": [
		"linux",
		"linux-lts"
	],
	"locale_config": {
		"kb_layout": "us",
		"sys_enc": "UTF-8",
		"sys_lang": "en_US"
	},
	"network_config": {
		"type": "nm"
	},
	"ntp": true,
	"packages": [
		"ansible",
		"networkmanager",
		"python-passlib"
	],
	"parallel downloads": 0,
	"profile_config": {
		"profile": {
			"custom_settings": {},
			"details": [],
			"main": "Minimal"
		}
	},
	"save_config": null,
	"swap": true,
	"timezone": "US/Eastern",
	"uki": false,
	"version": "3.0.1"
}
