{
  "data": "ENC[AES256_GCM,data:4GW6wULeWjVcgJ4CpqqNODH6OwCg7w==,iv:e+yyJrBKqpzeWpKCSHReygFpQXZeLubjX5KWPdkLi9A=,tag:9esX1ocST9VOTKrJi9Kmlg==,type:str]",
  "sops": {
    "kms": null,
    "gcp_kms": null,
    "azure_kv": null,
    "hc_vault": null,
    "age": null,
    "lastmodified": "2025-01-11T01:39:18Z",
    "mac": "ENC[AES256_GCM,data:OyQhLm2A4nJ/QdQR62Z7cAF8Q8SzGUk0HOmzHHIQF3zFp0XNBIdqVTY7D7voOeFUhQk/o1z0jw1H9t8+avbugbbxTFf3XFqkGsS7bMFtoOlz83Jo22AGQLNke0mhJzQiek2xQBrjA1diw3tsFeKoMO6FWudOTUsduX34IFuBXCw=,iv:BsQLNbeGlmNsPDl4hAmTL5irqAOw0/hlMg+sIy0TPEY=,tag:Y+pdo8ch7gbLCTpTgy9l4Q==,type:str]",
    "pgp": [
      {
        "created_at": "2025-01-11T01:39:18Z",
        "enc": "-----BEGIN PGP MESSAGE-----\n\nhF4DAAAAAAAAAAASAQdAtksaGhbb2uWtqR2TFO3JObYXZbDF66+/6UZxRWYR+Dww\n/kxhSos7zwHa07RGeu/6Mn/S/aizp+Rc+fbMEnvQBLAISwH2pBWCQjlkQMjjdl/E\n0l4BU2h0bXrXAf+tVQMcYikpCgWjHMzRJy9EdgpDwSI5THLJX5hqNLPrrc8WIY7P\nShbc3rnM9SSvt0PX76Sy1dblrrhUai66PMg/+ga3f53kVSiTnjpUHlADr1NUU/kU\n=6RfK\n-----END PGP MESSAGE-----",
        "fp": "1F86464D595F2DCD5F6029B6E81D523E5DD412E2"
      }
    ],
    "unencrypted_suffix": "_unencrypted",
    "version": "3.9.1"
  }
}